<% wrap_layout :layout do %>
  <div id="our-logo">
    <a href="/" title="Back to homepage">
      <img src="/images/logo.svg" width="200" alt="Malmö.rb">
    </a>
  </div>

  <article class="page event-page">
		<h2>
			Malmö.rb meetup on <%= current_page.data.date %>
		</h2>

  	<h3>
  		<%= current_page.data.theme.name %>
  	</h3>

  	<p>
  		<%= current_page.data.theme.description %>
  	</p>


		<h3>
			Planned Activities
		</h3>

  <% if (planned_activities_description = current_page.data.planned_activities_description.presence) %>
    <p>
      <%= planned_activities_description %>
    </p>
  <% end %>

	<% current_page.data.speakers.each do |speaker| %>
	  <h4>
	  	<%= speaker['name'] %>: <em><%= speaker['talk_title'] %></em>
	  </h4>

	  <p class="talk-description"><%= speaker['talk_description'] %></p>
	<% end %>

  <h2>Sign up!</h2>

  <p>
    <% if (signup_link = current_page.data['signup_link'].presence) %>
      <a href="<%= signup_link %>" title="Sign up!">Sign up!</a>
    <% else %>
      <em>Soon there will be a link here!</em>
    <% end %>
  </p>

	<h2>Facts</h2>
  	<p>Date: <%= current_page.data.date %></p>
  	<p>Location: <%= current_page.data.location %></p>

    <%= yield %>
  </article>
<% end %>
