---
title: "Malmö.rb: Malmö Ruby user group"
current_event:
  description: "On November 23, we Explore Ruby together!"
  date: "2021-11-23"
  link_text: "Malmö.rb: Bruno Sutic on Async Ruby"
  location: "Skeppsbron 3, Malmö"
  url: "/events/2021/meetup-november.html"
  signup_url: https://wtr92bnwvoc.typeform.com/to/DdFUaVrE
---

<div class="welcome">
  <div class="grid">
    <header>
      <%= image_tag 'logo.svg', alt: 'Malmö.rb', title: 'Malmö.rb', class: 'frontpage-logo' %>
      <nav class="doc">
        <ul class="global-navigation">
          <li>
            <%= link_to "About us", "/about/malmorb.html", title: "What we are about" %>
          </li>
          <li>
            <%= link_to "Code of Conduct", "http://berlincodeofconduct.org/", title: "Our CoC is the Berlin Code of Conduct" %>
          </li>
        </ul>
      </nav>
    </header>

    <div class="card who-we-are">
      <p>A group of <strong>Ruby</strong> enthusiasts from sunny <strong>Malmö</strong>, Sweden who meet regularly to talk about Ruby, programming, and related topics.</p>
    </div>

    <div class="card events">
      <h2>Next event: <%= short_date current_page.data.current_event[:date] %></h2>
      <div >
        <div class="events-upcoming">
          <p><b>Upcoming:</b>
          <a href="<%= current_page.data.current_event[:url] %>"><%= current_page.data.current_event[:link_text] %></a>
          at <%= current_page.data.current_event[:location] %>, on <%= short_date current_page.data.current_event[:date] %></p>

          <p><%= current_page.data.current_event[:description] %></p>

          <p><a href="<%= current_page.data.current_event[:signup_url] %>">Sign up!</a></p>

          <hr>
          <p>All events are open to all skill levels &mdash; including absolute
           beginners &mdash; and are free of charge.</p>
        </div>
      </div>

      <div class="event-upcoming">
        <div class="events-future">
          <p>
            <strong>Future</strong>: Do you want to give a talk or host some other activity?

            Get in touch, join #malmorb on <%= link_to "Øreslack", "http://oreslack.herokuapp.com" %>
            and the <%= link_to "mailing list", "https://groups.google.com/g/malmorb" %>!
          </p>
        </div>
      </div>
    </div>

    <hr>

    <% unless data.supporters.empty? %>
    <div class="card supporters with-fancy-links">
      <h2>Supporters</h2>

      <ul class="supporters-list">
      <% data.supporters.sort_by { |o| o[:name].upcase }.each do |org| %>
        <li>
          <a href="<%= org['url']%>" target="_blank"><%= org['name'] %></a>
        </li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="card using-ruby with-fancy-links">
      <h2>Ruby users</h2>

      <ul class="ruby-users-list">
        <% data.organizations_using_ruby.sort_by { |o| o[:name].upcase }.each do |org| %>
        <li>
          <a href="<%= org['url']%>" target="_blank"><%= org['name'] %></a>
        </li>
      <% end %>
      </ul>
    </div>


  </div>
</div><!-- .welcome -->
