---
title: "Malmö.rb: Malmö Ruby user group"
organizations_using_ruby:
  - name: Arthro Therapeutics
    url: http://www.arthro.ai/
  - name: Protetiko
    url: https://protetiko.com/
  - name: Hero Gaming
    url: https://www.herogaming.com/
  - name: Axis
    url: https://www.axis.com/
  - name: RankTrail
    url: https://ranktrail.com/
  - name: Castle
    url: https://castle.io/
  - name: Upptec
    url: https://upptec.se/
  - name: Foo Café
    url: http://foocafe.org/
  - name: Qgroup
    url: http://qgroup.se/
  - name: Jayway
    url: https://www.jayway.com/
  - name: Bredband2
    url: https://www.bredband2.com/
  - name: eCraft M3 Solutions
    url: http://m3.ecraft.com/

---

<div class="welcome">
  <%= image_tag 'logo.png', alt: 'Malmö.rb', title: 'Malmö.rb' %>
  <p class="doc">
    <%= link_to "Slack", "http://oreslack.herokuapp.com" %> |
    <%= link_to "Mailinglist",
    "https://groups.google.com/forum/?fromgroups#!forum/malmorb" %>
    | <a href="http://twitter.com/malmorb">Twitter</a> |
    <%= link_to "Github Organization", "https://github.com/malmorb/" %>
  </p><!-- .doc -->

  <div class="grid">
    <div class="card who-we-are">
      <p>A group of Ruby enthusiasts from sunny Malmö, Sweden who meet about every
        month to talk about Ruby, programming, and other related topics.</p>
    </div>

    <div class="card events">
      <h2>Attend a Meeting!</h2>
      <p class="next-event"><b>Upcoming:</b> January 9 <a href="https://github.com/malmorb/malmorb.github.com/issues/9">the next meetup</a> at FooCafe
        </p>

      <p>Friends of the group have offered to speak on diverse subjects
      and it will be a good Tuesday.</p>

      <p>All events are open to all skill levels &mdash; including absolute beginners &mdash; and are free of charge.</p>

      <p><strong>Past</strong>:
        Dec 5: <em><a href="http://foocafe.org/malmoe/events/1661-regexp-rust-elexir-dry-each-t-t-presentation">Regular Expressions: How People Use Them, And How You Can Use Them,
        dry-rb for Rails teams, Why Elixir?, Build your own Ruby native extensions with Helix and Rust</a></em> at Foocafe.
        Nov 7: <em>What is new in Ruby 2.5?</em> at eCraft.</p>

      <p><strong>Future</strong>: Do you want to do a talk or some other activity? Get in touch, join that Slack!</p>
    </div>

    <div class="card using-ruby">
      <h2>Who is using Ruby?</h2>

      <% current_page.data.organizations_using_ruby.sort_by {|o| o[:name].upcase }.each do |org| %>
          <a href="<%= org['url']%>" target="_blank"><%= org['name'] %></a>
      <% end %>

    </div>
  </div>

</div><!-- .welcome -->
