---
title: "Malmö.rb: Malmö Ruby user group"
current_event:
  description: "On September 5, we Explore Ruby together!"
  date: "2019-09-05"
  link_text: "Malmö.rb & Copenhagen.rb: a Joint Ruby Enthusiast Meetup"
  location: "DGI Byen (Conference Room), Tietgensgade 65, 1704 København, Danmark"
  url: "/events/2019/meetup-september.html"
---

<div class="welcome">
  <div class="grid">
    <header>
      <%= image_tag 'logo.svg', alt: 'Malmö.rb', title: 'Malmö.rb', class: 'frontpage-logo' %>
      <nav class="doc">
        <ul class="global-navigation">
          <li>
            <%= link_to "About us", "/about/malmorb.html", title: "What we are about" %>
          </li>
          <li>
            <%= link_to "Code of Conduct", "http://berlincodeofconduct.org/", title: "Our CoC is the Berlin Code of Conduct" %>
          </li>
        </ul>
      </nav>
    </header>

    <div class="card who-we-are">
      <p>A group of <strong>Ruby</strong> enthusiasts from sunny <strong>Malmö</strong>, Sweden who meet regularly to talk about Ruby, programming, and related topics.</p>
    </div>

    <div class="card events">
      <h2>Our Next Meeting!</h2>
      <div class="event-details">
        <div class="events-upcoming">
          <p><b>Upcoming:</b> <%= short_date current_page.data.current_event[:date] %>
          <a href="<%= current_page.data.current_event[:url] %>"><%= current_page.data.current_event[:link_text] %></a>
          at <%= current_page.data.current_event[:location] %>.</p>

          <p><%= current_page.data.current_event[:description] %></p>

          <p>All events are open to all skill levels &mdash; including absolute
           beginners &mdash; and are free of charge.</p>
        </div>

        <div class="events-future">
          <p><strong>Future</strong>: Do you want to do a talk or some other activity?
          Get in touch, join #malmorb on <%= link_to "Øreslack", "http://oreslack.herokuapp.com" %> and the <%= link_to "mailing list", "https://groups.google.com/forum/?fromgroups#!forum/malmorb" %>!</p>
        </div>
      </div>
    </div>

    <div class="card supporters with-fancy-links">
      <h2>Supporters</h2>

      <ul class="supporters-list">
      <% data.supporters.sort_by { |o| o[:name].upcase }.each do |org| %>
        <li><a href="<%= org['url']%>" target="_blank"><%= org['name'] %></a></li>
      <% end %>
      </ul>
    </div>

    <div class="card using-ruby with-fancy-links">
      <h2>Ruby users</h2>

      <ul class="ruby-users-list">
        <% data.organizations_using_ruby.sort_by { |o| o[:name].upcase }.each do |org| %>
        <li>
          <a href="<%= org['url']%>" target="_blank"><%= org['name'] %></a>
        </li>
      <% end %>
      </ul>
    </div>


  </div>
</div><!-- .welcome -->
