---
title: "Malmö.rb: Malmö Ruby user group"
current_event:
  description: "Explore Ruby together - next meetup January 8! "
  date: "2019-01-08"
  link_text: "Theme: Game tooling & Ruby 2.6"
  location: "eCraft - Skeppsbron 3, Malmö"
  url: "/events/2019/meetup-january.html"
---

<div class="welcome">
  <%= image_tag 'logo.png', alt: 'Malmö.rb', title: 'Malmö.rb' %>
  <p class="doc">
    <%= link_to "Slack", "http://oreslack.herokuapp.com", title: "Invite yourself to our chat channel #malmorb" %> |
    <%= link_to "Mailinglist",
    "https://groups.google.com/forum/?fromgroups#!forum/malmorb", title: "Our mailing list is a Google Groups list for announcements" %>
    | <a href="http://twitter.com/malmorb">Twitter</a> |
    <%= link_to "Github Organization", "https://github.com/malmorb/" %> |
    <%= link_to "Code of Conduct", "http://berlincodeofconduct.org/", title: "Our CoC is the Berlin Code of Conduct" %> |
    <%= link_to "About us", "/about/malmorb.html", title: "What we are about" %>
  </p><!-- .doc -->

  <div class="grid">
    <div class="card who-we-are">
      <p>A group of <strong>Ruby</strong> enthusiasts from sunny <strong>Malmö</strong>, Sweden who meet regularly to talk about Ruby, programming, and related topics.</p>
    </div>

    <div class="card events">
      <h2>Attend a Meeting!</h2>
      <p class="next-event"><b>Upcoming:</b> <%= short_date current_page.data.current_event[:date] %>
        <a href="<%= current_page.data.current_event[:url] %>"><%= current_page.data.current_event[:link_text] %></a>
        at <%= current_page.data.current_event[:location] %>.</p>

      <p><%= current_page.data.current_event[:description] %></p>

      <p>All events are open to all skill levels &mdash; including absolute
         beginners &mdash; and are free of charge.</p>

      <p><strong>Future</strong>: Do you want to do a talk or some other activity?
        Get in touch, join that Slack and mailing list!</p>

    </div>

    <div class="card using-ruby">
      <h2>Who is using Ruby?</h2>

      <% data.organizations_using_ruby.sort_by {|o| o[:name].upcase }.each do |org| %>
          <a href="<%= org['url']%>" target="_blank"><%= org['name'] %></a>
      <% end %>
    </div>
  </div>
</div><!-- .welcome -->
